#app-mount .info__755e1 .line__75801:first-child:after {
  content: "GH0STCH4TT3R v" var(--theme-version);
  display: block;
}
#app-mount .info__755e1 .line__75801:nth-last-child(3):before {
  content: "by Riddim_GLiTCH";
  display: block;
}
