.clickable_d866f1 {
    border-radius: 10px!important;
}
.wrapper__3af0b,
.wrapper_edb6e0,
.folderIconWrapper__72239,
.iconInactive__90d40,
.avatar__08316,
.avatar__777a6,
.replyAvatar_cea07c, 
.executedCommandAvatar__939bc,
.embedAuthorIcon__6b055,
.option_b5597b.user__97b4c .displayAvatar__98be9 {
    border-radius: 10px!important;
}

.wrapper__3af0b foreignObject,
.wrapper_edb6e0 foreignObject {
    mask: none;
}