.chatContent__5dca8 {
  border-right: 1px solid rgb(var(--GC-accent));
  border-top: 1px solid rgb(var(--GC-accent));
  border-left: 1px solid rgb(var(--GC-accent));
  background: rgba(0, 0, 0, 0.5) !important;
  filter: none !important;
}
.chatContainer__23434 {
  filter: drop-shadow(5px 5px 1px rgba(var(--GC-accent-muted), 0.2));
}


//fix forums
.container_b181b6 {
  background-color: transparent!important;
}


