.channelTextArea__2e60f,
.channelTextArea__56a36 {
  border: 1px solid rgb(var(--GC-accent)) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 30px;
}

// Better Jump To Present Button - Snippet by Imicro
[class*="newMessagesBar"] {
  display: contents;
}
[class*="newMessagesBar"] > button:first-child {
  display: none;
}
[class*="newMessagesBar"] > button:last-child {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: rgba(var(--GC-accent-muted), 0.5);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition:
    font-size 0.2s 0.1s,
    color 0.2s,
    padding 0.4s 0.1s;
}
[class*="newMessagesBar"] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #ffffff;
  transition: margin 0.6s;
}
[class*="newMessagesBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #ffffff;
  transition:
    font-size 0.2s,
    color 0.2s 0.1s,
    padding 0.4s;
}
[class*="newMessagesBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}
.textArea__74543 + .buttons_ce5b56 {
  margin-right: 2px;
}
