.messageContent__21e69 {
    border: 1px solid var(--GC-accent);
    border-radius: 10px;
    border-top-left-radius: 0;
    width: fit-content!important;
    max-width: 100%;
    background-color: var(--GC-accent-muted);
    padding-left: 5px!important;
    padding-right: 5px!important;
    margin-left: 0px!important;
}

.repliedTextContent__75526 .messageContent__21e69 {
  border-top-left-radius: 10px!important;
}